{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
		{% if post.collection == 'teaching' %}
          <p> <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>, {{ post.type }}, {{ post.semester }}. </p>
        {% elsif post.collection == 'publications' %}
          <p>{{ post.paper_author }}. "<a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>", <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}. {{ post.remark }} </p>
        {% elsif post.date %}
          <p> {{ post.owner }}. <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>. {{ post.date | default: "1900-01-01" | date: "%Y/%m/%d" }}, {{ post.number }}. </p>
        {% endif %}
    </li>
 </article>
</div>
